@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #ffffff;
  overflow: hidden;
  transition: all 0.5s linear;
  background-color: #38a0c1;
}
.sidebar:hover {
  width: 250px;
  transition: 0.5s;
}
.logo {
  height: 100px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding-top: 130px;
}
.menu li {
  padding: 0.95rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover,
.active {
  background: #034f66;
}
.menu a {
  color: #fff;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;

  left: 0;
  width: 100%;
}
