@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.container {
  position: relative;

    width: 100%;
    display: inline-block; 
    /* Ensure the container wraps around its contents */
  }
  

  .container img{
    width: 100%;
  
    position: relative;
    
   
   
  }
  .overlay {
    position: absolute;
    top: 40px;
    width: 650px;
   
    left: 150px;
   /* Make the overlay cover the entire container */
    
     /* Semi-transparent white overlay */
    
   
   
    height:300px;
     background:  linear-gradient(180deg, rgba(66, 140, 171, 0.58) 47.6%,rgba(169, 221, 241, 0.58) 100%);
     border-top-right-radius: 20px;
     border-bottom-left-radius: 155px;
    
        
  }
  
  
.hero{
    position: relative;
}
 .title1{
font-size: 45px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0.03em;
text-align: center;

color:white; 
padding-top: 20px;
font-family: 'Plus Jakarta Sans';
}
.title2{
  padding-top: 20px;
  font-size: 50px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0.03em;
  text-align: center;
  color:white; 
  font-family: "Shippori Antique", sans-serif;


}
.title3{
  font-size: 25px;
  font-weight: 700;
  color: #36405B;
  letter-spacing: 0.05em;
  text-align: center;
  font-family: "Shippori Antique", sans-serif;
  padding-top: 60px;
  padding-bottom: 30px;

}

.boxes{
 
  display: flex;
  
 position: absolute;
  gap: 5px;
  
  
}


.cyrcle{
   width: 50px; /* Définir la largeur */
    height: 50px; /* Définir la hauteur */
    background-color: #399FBF; /* Définir la couleur de fond */
    border-radius: 50%;
    margin-left: 170px;
    margin-top: 30px;
    color: #F4FEFF;
    justify-self: center;
    
    
}

.box1{
  color: #4F5152;
  background-color: red;
  
  justify-content: center;
  box-shadow:0 5px 10px black;
  border-radius: 5px;
  background-color: 
  #F4FEFF;
  text-align: center;
  width: 400px;
  height: 300px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 20px;

}
.box2{
  color: #4F5152;
  background-color: red;
  height: 300px;
  justify-content: center;
  box-shadow:0 5px 10px black;
  border-radius: 5px;
  background-color: 
  #F4FEFF;
  text-align: center;
  width: 400px;

 
 

}
.box3{
  color:  #4F5152;
  background-color: red;
  height: 300px;
  justify-content: center;
  border: 200px black;
  box-shadow:0 5px 10px black;
  border-radius: 5px;
  background-color: 
  #F4FEFF;
  text-align: center;
  width: 400px;
  border-bottom-right-radius: 100px;
 

}
.titre{
 padding-top: 15px; ;
  color: black;
  font-size: 25px;
  font-family:'Shippori Antique' ;
  font-weight: bold;
  
}
.click{
  
  display: inline-block;
  background:
  #399FBF;
  color: 
  #F4FEFF;
font-size: 17px;
border-radius: 20px;
padding: 8px 25px ;

}
.click:hover{
  letter-spacing: 1px;
}
.click:hover{
  box-shadow: 0 10px 15px 
  #399FBF;
  transform: scale(1.02);
}
.box1:hover{
  box-shadow: 0 10px 15px
  #399FBF;
  transform: scale(1.02);
}
.box2:hover{
  box-shadow: 0 10px 15px 
  #399FBF;
  transform: scale(1.02);
}
.box3:hover{
  box-shadow: 0 10px 15px 
  #399FBF;
  transform: scale(1.02);
}

.icons{
   font-size: 40px;
}



.soustitre{
  font-family: 'Shippori Antique';
  font-size: 17px;
  letter-spacing: 1.8px;
  padding-top: 20px;
  
}

.soustitre3{
  font-family: 'Shippori Antique';
  font-size: 17px;
  letter-spacing: 1.8px;
  padding-top: 20px;
 

}
.soustitre2{
  font-family: 'Shippori Antique';
  font-size: 17px;
  letter-spacing: 1.8px;
  padding-top: 20px;
 

}
.blue{
  background-color:#6FAFC8 ;
  height: 550px;
 
}
.blue .img1{
  width: 98vh;
 
  position: absolute;
 
  padding-left: 150px;
  top: 1000px;
  
 
}
.blue .text{
  padding-top: 395px;
  padding-left: 300px;
  top: 500px;
  
 
}

.text .ph1{
  font-size: 17px;
  font-family: 'Plus Jakarta Sans';
  padding-right: 40px;
  color: #FFFFFF;
  
  
}
.text .ph2{
  font-size: 40px;
  font-weight: bold;
  font-family: 'Plus Jakarta Sans';
  padding-left: 440px;
  
  text-align: left;
  color: #36405B;
  font-weight: 800;
  
 

}
 .liste{
  padding-top:30px;
  text-align: center;
  padding-left: 400px;
 }
 .liste .ph3{
  color:#36405B;
  font-size: 18px;
  width: 500px;
  text-align: left;
  padding-left: 45px;
  font-weight: 700;
  font-family: 'Plus Jakarta Sans';
  
 }
 .list {
 padding-left: 750px;
}

.icon-list {
  list-style: none;
  padding-top: 40px;
  font-size: 25px;
}

.icon-list li {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: #36405B;
  font-family: 'Plus Jakarta Sans';
  font-weight: 700;
  font-size: 20px;
}

.icon {
  margin-right: 25px;
  color: #399FBF;
  font-size: 40px;
  
  }
  .butn{
    padding-left: 600px;
    background-color: #36405B;
    
  }
  .book{
    padding-left: 650px;
    padding-top: 25px;
  }
  .book .click{
    width: 300px;
    height: 40px;
    font-family: 
   'Poppins';
  }
  