
.cont-cnt{

    height:  376px;
    width: auto;
    background-color:  #05151A;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.ct1-cnt{
    height: 100%;
}
.ct1-cnt p span,pre {
    color: #12E3F0;
font-family: inter;
}
.ct1-cnt pre{
position: absolute;
    font-size: 14px;
    bottom: 20px;
}
.dentel-cnt {
font-size: 24px;
}
.dentel-cnt span{
    font-size: 24px;

}
.ctt-mail-cnt span,p{
font-family: Montserrat;
font-size: 32px;
margin: 0;
}
.contactt-cnt{
    color: white;
font-weight: 600;
}
.mail-cnt a{
    font-weight: 250;
text-decoration: none;
color: white;
}
.mail-cnt a:hover{
    
color: rgba(255, 255, 255, 0.333);
}

.ctt-mail-cnt{
    line-height: 38.4px;
    height: auto;
    position: relative;
    width: auto;
}

.dtc-cnt{
    height:80px ;
    line-height: 33.6px;
margin-top: 50px;
}
.ct2-cnt{
    height: auto;
    display: flex;
width: 30%;
justify-content: space-between;
}
.txt-cnt span{
    font-weight: 700;
    font-family: Montserrat;
    font-size: 32px;
}