
.cont{

    height:  376px;
    width: auto;
    background-color:  #05151A;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.ct1{
    height: 100%;
}
.ct1 p span,pre {
    color: #12E3F0;
font-family: inter;
}
.ct1 pre{
position: absolute;
    font-size: 14px;
    bottom: 0px;
}
.dentel {
font-size: 24px;
}
.dentel span{
    font-size: 24px;

}
.ctt-mail span,p{
font-family: Montserrat;
font-size: 32px;
margin: 0;
}
.contactt{
    color: white;
font-weight: 600;
}
.mail a{
    font-weight: 250;
text-decoration: none;
color: white;
}
.mail a:hover{
    
color: rgba(255, 255, 255, 0.333);
}

.ctt-mail{
    line-height: 38.4px;
    height: auto;
    position: relative;
    width: auto;
}

.dtc{
    height:80px ;
    line-height: 33.6px;
margin-top: 50px;
}
.ct2{
    height: auto;
    display: flex;
width: 30%;
justify-content: space-between;
}
.txt span{
    font-weight: 700;
    font-family: Montserrat;
    font-size: 32px;
}