.icons1-cnt {
    height: auto;
    width: 50%;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    align-items: flex-end;
}
.icons1-cnt a{
    color: white;
}

.icon1-cnt {
    height: 40px; 
    width: 40px; 
}

