@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');




.pagep{
    display: flex;
    width: 100%;

 
    
}
.cntnr{
   width: 100%;
   
    background-color: rgba(237, 240, 244, 1);
}

.profilee{
    height: 50px;
    background:white ;
    color: black;
}
.my-profile{
   background-color: #fff;
   text-align: center;
   margin-left: 70px;
   justify-content: center;
   width: 90%;
   margin-top: 20px;
}
.my-profile hr{
  width: 80%;
  margin-left: 110px;

}

 .my-profile h1{
    font-family: "Poppins";
    font-weight: 600;
    padding-bottom: 20px;

 }

 .formulaire{
    background-color: rgba(237, 240, 244, 1);
    width: 90%;
    height: 100vh;  
    display: flex;
    margin-left:55px;
    margin-top: 20px;

    
 }
 
 .contacts-infos h2 {
margin-bottom: 110px;
margin-right: 250px;


 
 }
 .infos-fields li{
  padding: 0px;
 }


.infos{
    display: flex;
  align-items: center;
   margin-left:50px;
  
   
}
.contacts-infos .infos-fields{
  display: flex;
}

.infos-fields li {
  display: flex;
  margin: 20px;
}













